* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}

body {
    font-size: inherit;
    font-family: inherit;
}

#wrapper {
    width: 100%;
    height: auto;
    position: relative;
}
.main-content {
    width: 100%;
    /* background-color: #ccc; */
    padding: 60px 0 0 85px;
    box-shadow: 2px 2px 5px rgba(0 ,0,0 ,0.3);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}




